@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Base styles

For more info see: https://tailwindcss.com/docs/adding-base-styles
*/
@layer base {
  @font-face {
    font-family: Inter;
    src: url(/fonts/inter-400.woff2) format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: Inter;
    src: url(/fonts/inter-500.woff2) format("woff2");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: Inter;
    src: url(/fonts/inter-600.woff2) format("woff2");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
  }

  @font-face {
    font-family: Inter;
    src: url(/fonts/inter-700.woff2) format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }
}

/*
Custom utils

For more info see: https://tailwindcss.com/docs/extracting-components#extracting-component-classes-with-apply
 */
@layer components {
  .btn {
    @apply inline-flex items-center justify-center px-6 py-3 rounded-md text-base font-medium leading-6 tracking-wider transition duration-200;
  }
}

@layer utilities {
  @variants responsive {
    .page-container {
      max-width: 1024px;
    }

    .btn-sm {
      @apply px-4 py-2;
    }

    .btn-lg {
      @apply px-8 py-4 text-lg;
    }
  }
}
