@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Base styles

For more info see: https://tailwindcss.com/docs/adding-base-styles
*/
@layer base {
  @font-face {
    font-family: Inter;
    src: url(/fonts/inter-400.woff2) format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: Inter;
    src: url(/fonts/inter-500.woff2) format("woff2");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: Inter;
    src: url(/fonts/inter-600.woff2) format("woff2");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
  }

  @font-face {
    font-family: Inter;
    src: url(/fonts/inter-700.woff2) format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }
}

/*
Custom utils

For more info see: https://tailwindcss.com/docs/extracting-components#extracting-component-classes-with-apply
 */
@layer components {
  /* Gradients */

  .text-gradient {
    @apply text-transparent bg-clip-text;
  }

  .orange-gradient {
    @apply bg-gradient-to-br from-yellow-400 to-orange-600;
  }

  .blue-gradient {
    @apply bg-gradient-to-br from-blue-400 to-indigo-500;
  }

  .pink-gradient {
    @apply bg-gradient-to-br from-pink-500 to-rose-500;
  }

  .purple-gradient {
    @apply bg-gradient-to-br from-fuchsia-500 to-purple-600;
  }

  .super-gradient {
    @apply bg-gradient-to-r from-blue-400 via-indigo-500 to-pink-600;
  }

  /* Buttons */

  .btn {
    @apply inline-flex items-center justify-center px-6 py-3 text-base antialiased font-medium leading-6 tracking-wider transition duration-200 rounded-lg focus:outline-white;
  }
}

@layer utilities {
  @variants responsive {
    .page-container {
      max-width: 1024px;
    }

    .btn-sm {
      @apply px-4 py-2;
    }

    .btn-lg {
      @apply px-8 py-4 text-lg;
    }
  }
}
